.btn {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #00aaff;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}


.btn:hover {
  background-color: #00aaff44;
}

.btn-grey {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #555555;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-grey:hover {
  background-color: #55555544;
}

.btn-yellow {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #ffcc00;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-yellow:hover {
  background-color: #ffcc0044;
}

.btn-orange {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #ff8822;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-orange:hover {
  background-color: #ff882244;
}

.btn-pink {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #ff44dd;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-pink:hover {
  background-color: #ff44dd44;
}

.btn-cyan {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #22ddff;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-cyan:hover {
  background-color: #22ddff44;
}

.btn-green {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #22aa44;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-green:hover {
  background-color: #22aa4444;
}

.btn-red {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #dd2233;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-red:hover {
  background-color: #dd223344;
}

.btn-blue {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #0066dd;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-blue:hover {
  background-color: #0066dd44;
}

.btn-contained {
  display: inline-block;
  border-radius: 8px;
  background-color: #00aaff;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained:hover {
  filter: brightness(1.2);
}

.btn-contained-grey {
  display: inline-block;
  border-radius: 8px;
  background-color: #555555;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained-grey:hover {
  filter: brightness(1.2);
}

.btn-contained-yellow {
  display: inline-block;
  border-radius: 8px;
  background-color: #ffcc00;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained-yellow:hover {
  filter: brightness(1.2);
}

.btn-contained-orange {
  display: inline-block;
  border-radius: 8px;
  background-color: #ff8822;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained-orange:hover {
  filter: brightness(1.2);
}

.btn-contained-pink {
  display: inline-block;
  border-radius: 8px;
  background-color: #ff44dd;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained-pink:hover {
  filter: brightness(1.2);
}

.btn-contained-cyan {
  display: inline-block;
  border-radius: 8px;
  background-color: #22ddff;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained-cyan:hover {
  filter: brightness(1.2);
}

.btn-contained-green {
  display: inline-block;
  border-radius: 8px;
  background-color: #22aa44;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained-green:hover {
  filter: brightness(1.2);
}

.btn-contained-red {
  display: inline-block;
  border-radius: 8px;
  background-color: #dd2233;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained-red:hover {
  filter: brightness(1.2);
}

.btn-contained-blue {
  display: inline-block;
  border-radius: 8px;
  background-color: #0066dd;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-contained-blue:hover {
  filter: brightness(1.2);
}

.btn-outline {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #00aaff;
  color: #00aaff;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline:hover {
  background-color: #00aaff;
  color: white;
}

.btn-outline-grey {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #555555;
  color: #555555;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline-grey:hover {
  background-color: #555555;
  color: white;
}

.btn-outline-yellow {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #ffcc00;
  color: #ffcc00;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline-yellow:hover {
  background-color: #ffcc00;
  color: black;
}

.btn-outline-orange {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #ff8822;
  color: #ff8822;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline-orange:hover {
  background-color: #ff8822;
  color: white;
}

.btn-outline-pink {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #ff44dd;
  color: #ff44dd;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline-pink:hover {
  background-color: #ff44dd;
  color: white;
}

.btn-outline-cyan {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #22ddff;
  color: #22ddff;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline-cyan:hover {
  background-color: #22ddff;
  color: #000000;
}

.btn-outline-green {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #22aa44;
  color: #22aa44;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline-green:hover {
  background-color: #22aa44;
  color: white;
}

.btn-outline-red {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #dd2233;
  color: #dd2233;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline-red:hover {
  background-color: #dd2233;
  color: white;
}

.btn-outline-blue {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #0066dd;
  color: #0066dd;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.btn-outline-blue:hover {
  background-color: #0066dd;
  color: white;
}
