.btn {
  display: inline-block;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: var(--c-primary);
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}
.btn:hover {
  background-color: color-mix(in srgb, var(--c-primary) 30%, transparent);
}
.btn-black {
  color: var(--black-500);
}
.btn-black:hover {
  background-color: color-mix(in srgb, var(--black-500) 30%, transparent);
}
.btn-maroon {
  color: var(--maroon-500);
}
.btn-maroon:hover {
  background-color: color-mix(in srgb, var(--maroon-500) 30%, transparent);
}
.btn-red {
  color: var(--red-500);
}
.btn-red:hover {
  background-color: color-mix(in srgb, var(--red-500) 30%, transparent);
}
.btn-pink {
  color: var(--pink-500);
}
.btn-pink:hover {
  background-color: color-mix(in srgb, var(--pink-500) 30%, transparent);
}
.btn-lightpink {
  color: var(--lightpink-500);
}
.btn-lightpink:hover {
  background-color: color-mix(in srgb, var(--lightpink-500) 30%, transparent);
}
.btn-orchid {
  color: var(--orchid-500);
}
.btn-orchid:hover {
  background-color: color-mix(in srgb, var(--orchid-500) 30%, transparent);
}
.btn-purple {
  color: var(--purple-500);
}
.btn-purple:hover {
  background-color: color-mix(in srgb, var(--purple-500) 30%, transparent);
}
.btn-indigo {
  color: var(--indigo-500);
}
.btn-indigo:hover {
  background-color: color-mix(in srgb, var(--indigo-500) 30%, transparent);
}
.btn-blue {
  color: var(--blue-500);
}
.btn-blue:hover {
  background-color: color-mix(in srgb, var(--blue-500) 30%, transparent);
}
.btn-cyan {
  color: var(--cyan-500);
}
.btn-cyan:hover {
  background-color: color-mix(in srgb, var(--cyan-500) 30%, transparent);
}
.btn-slate {
  color: var(--slate-500);
}
.btn-slate:hover {
  background-color: color-mix(in srgb, var(--slate-500) 30%, transparent);
}
.btn-darkcyan {
  color: var(--darkcyan-500);
}
.btn-darkcyan:hover {
  background-color: color-mix(in srgb, var(--darkcyan-500) 30%, transparent);
}
.btn-teal {
  color: var(--teal-500);
}
.btn-teal:hover {
  background-color: color-mix(in srgb, var(--teal-500) 30%, transparent);
}
.btn-darkgreen {
  color: var(--darkgreen-500);
}
.btn-darkgreen:hover {
  background-color: color-mix(in srgb, var(--darkgreen-500) 30%, transparent);
}
.btn-green {
  color: var(--green-700);
}
.btn-green:hover {
  background-color: color-mix(in srgb, var(--green-500) 30%, transparent);
}
.btn-lightgreen {
  color: var(--lightgreen-600);
}
.btn-lightgreen:hover {
  background-color: color-mix(in srgb, var(--lightgreen-500) 30%, transparent);
}
.btn-olive {
  color: var(--olive-500);
}
.btn-olive:hover {
  background-color: color-mix(in srgb, var(--olive-500) 30%, transparent);
}
.btn-gold {
  color: var(--gold-500);
}
.btn-gold:hover {
  background-color: color-mix(in srgb, var(--gold-500) 30%, transparent);
}
.btn-yellow {
  color: var(--yellow-500);
}
.btn-yellow:hover {
  background-color: color-mix(in srgb, var(--yellow-500) 30%, transparent);
}
.btn-peach {
  color: var(--peach-500);
}
.btn-peach:hover {
  background-color: color-mix(in srgb, var(--peach-500) 30%, transparent);
}
.btn-brown {
  color: var(--brown-500);
}
.btn-brown:hover {
  background-color: color-mix(in srgb, var(--brown-500) 30%, transparent);
}
.btn-darkbrown {
  color: var(--darkbrown-500);
}
.btn-darkbrown:hover {
  background-color: color-mix(in srgb, var(--darkbrown-500) 30%, transparent);
}
.btn-orange {
  color: var(--orange-500);
}
.btn-orange:hover {
  background-color: color-mix(in srgb, var(--orange-500) 30%, transparent);
}
.btn-tomato {
  color: var(--tomato-500);
}
.btn-tomato:hover {
  background-color: color-mix(in srgb, var(--tomato-500) 30%, transparent);
}

.btn-c {
  display: inline-block;
  border-radius: 8px;
  background-color: var(--c-primary);
  border: none;
  color: var(--black-100);
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}
.btn-c:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.btn-c-black {
  background-color: var(--black-500);
  color: var(--black-100);
}
.btn-c-maroon {
  background-color: var(--maroon-500);
  color: var(--black-100);
}
.btn-c-red {
  background-color: var(--red-500);
  color: var(--black-100);
}
.btn-c-pink {
  background-color: var(--pink-500);
  color: var(--black-100);
}
.btn-c-lightpink {
  background-color: var(--lightpink-500);
  color: var(--black-900);
}
.btn-c-orchid {
  background-color: var(--orchid-500);
  color: var(--black-100);
}
.btn-c-purple {
  background-color: var(--purple-500);
  color: var(--black-100);
}
.btn-c-indigo {
  background-color: var(--indigo-500);
  color: var(--black-100);
}
.btn-c-blue {
  background-color: var(--blue-500);
  color: var(--black-100);
}
.btn-c-cyan {
  background-color: var(--cyan-500);
  color: var(--black-900);
}
.btn-c-darkcyan {
  background-color: var(--darkcyan-500);
  color: var(--black-100);
}
.btn-c-slate {
  background-color: var(--slate-500);
  color: var(--black-100);
}
.btn-c-teal {
  background-color: var(--teal-500);
  color: var(--black-100);
}
.btn-c-darkgreen {
  background-color: var(--darkgreen-500);
  color: var(--black-100);
}
.btn-c-green {
  background-color: var(--green-500);
  color: var(--black-100);
}
.btn-c-lightgreen {
  background-color: var(--lightgreen-500);
  color: var(--black-900);
}
.btn-c-olive {
  background-color: var(--olive-500);
  color: var(--black-100);
}
.btn-c-gold {
  background-color: var(--gold-500);
  color: var(--black-100);
}
.btn-c-yellow {
  background-color: var(--yellow-500);
  color: var(--black-900);
}
.btn-c-peach {
  background-color: var(--peach-500);
  color: var(--black-900);
}
.btn-c-brown {
  background-color: var(--brown-500);
  color: var(--black-100);
}
.btn-c-darkbrown {
  background-color: var(--darkbrown-500);
  color: var(--black-100);
}
.btn-c-orange {
  background-color: var(--orange-500);
  color: var(--black-100);
}
.btn-c-tomato {
  background-color: var(--tomato-500);
  color: var(--black-100);
}

.btn-o {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid var(--c-primary);
  color: var(--c-primary);
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  padding-inline: 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}
.btn-o:hover {
  background-color: var(--c-primary);
  color: var(--black-100);
}

.btn-o-black {
  border-color: var(--black-500);
  color: var(--black-500);
}
.btn-o-black:hover {
  background-color: var(--black-500);
  color: var(--black-100);
}
.btn-o-maroon {
  border-color: var(--maroon-500);
  color: var(--maroon-500);
}
.btn-o-maroon:hover {
  background-color: var(--maroon-500);
  color: var(--black-100);
}
.btn-o-red {
  border-color: var(--red-500);
  color: var(--red-500);
}
.btn-o-red:hover {
  background-color: var(--red-500);
  color: var(--black-100);
}
.btn-o-pink {
  border-color: var(--pink-500);
  color: var(--pink-500);
}
.btn-o-pink:hover {
  background-color: var(--pink-500);
  color: var(--black-100);
}
.btn-o-lightpink {
  border-color: var(--lightpink-500);
  color: var(--lightpink-500);
}
.btn-o-lightpink:hover {
  background-color: var(--lightpink-500);
  color: var(--black-900);
}
.btn-o-orchid {
  border-color: var(--orchid-500);
  color: var(--orchid-500);
}
.btn-o-orchid:hover {
  background-color: var(--orchid-500);
  color: var(--black-100);
}
.btn-o-purple {
  border-color: var(--purple-500);
  color: var(--purple-500);
}
.btn-o-purple:hover {
  background-color: var(--purple-500);
  color: var(--black-100);
}
.btn-o-indigo {
  border-color: var(--indigo-500);
  color: var(--indigo-500);
}
.btn-o-indigo:hover {
  background-color: var(--indigo-500);
  color: var(--black-100);
}
.btn-o-blue {
  border-color: var(--blue-500);
  color: var(--blue-500);
}
.btn-o-blue:hover {
  background-color: var(--blue-500);
  color: var(--black-100);
}
.btn-o-cyan {
  border-color: var(--cyan-500);
  color: var(--cyan-500);
}
.btn-o-cyan:hover {
  background-color: var(--cyan-500);
  color: var(--black-900);
}
.btn-o-darkcyan {
  border-color: var(--darkcyan-500);
  color: var(--darkcyan-500);
}
.btn-o-darkcyan:hover {
  background-color: var(--darkcyan-500);
  color: var(--black-100);
}
.btn-o-slate {
  border-color: var(--slate-500);
  color: var(--slate-500);
}
.btn-o-slate:hover {
  background-color: var(--slate-500);
  color: var(--black-100);
}
.btn-o-teal {
  border-color: var(--teal-500);
  color: var(--teal-500);
}
.btn-o-teal:hover {
  background-color: var(--teal-500);
  color: var(--black-100);
}
.btn-o-darkgreen {
  border-color: var(--darkgreen-500);
  color: var(--darkgreen-500);
}
.btn-o-darkgreen:hover {
  background-color: var(--darkgreen-500);
  color: var(--black-100);
}
.btn-o-green {
  border-color: var(--green-500);
  color: var(--green-500);
}
.btn-o-green:hover {
  background-color: var(--green-500);
  color: var(--black-100);
}
.btn-o-lightgreen {
  border-color: var(--lightgreen-500);
  color: var(--lightgreen-500);
}
.btn-o-lightgreen:hover {
  background-color: var(--lightgreen-500);
  color: var(--black-900);
}
.btn-o-olive {
  border-color: var(--olive-500);
  color: var(--olive-500);
}
.btn-o-olive:hover {
  background-color: var(--olive-500);
  color: var(--black-100);
}
.btn-o-gold {
  border-color: var(--gold-500);
  color: var(--gold-500);
}
.btn-o-gold:hover {
  background-color: var(--gold-500);
  color: var(--black-100);
}
.btn-o-yellow {
  border-color: var(--yellow-600);
  color: var(--yellow-600);
}
.btn-o-yellow:hover {
  background-color: var(--yellow-600);
  color: var(--black-900);
}
.btn-o-peach {
  border-color: var(--peach-500);
  color: var(--peach-500);
}
.btn-o-peach:hover {
  background-color: var(--peach-500);
  color: var(--black-900);
}
.btn-o-brown {
  border-color: var(--brown-500);
  color: var(--brown-500);
}
.btn-o-brown:hover {
  background-color: var(--brown-500);
  color: var(--black-100);
}
.btn-o-darkbrown {
  border-color: var(--darkbrown-500);
  color: var(--darkbrown-500);
}
.btn-o-darkbrown:hover {
  background-color: var(--darkbrown-500);
  color: var(--black-100);
}
.btn-o-orange {
  border-color: var(--orange-500);
  color: var(--orange-500);
}
.btn-o-orange:hover {
  background-color: var(--orange-500);
  color: var(--black-100);
}
.btn-o-tomato {
  border-color: var(--tomato-500);
  color: var(--tomato-500);
}
.btn-o-tomato:hover {
  background-color: var(--tomato-500);
  color: var(--black-100);
}
