.d-flex {
  display: flex !important;
}

.jc-c {
  justify-content: start !important;
}
.jc-s {
  justify-content: center !important;
}
.jc-e {
  justify-content: end !important;
}
.jc-sb {
  justify-content: space-between !important;
}
.jc-se {
  justify-content: space-evenly !important;
}
.jc-sa {
  justify-content: space-around !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}

.fd-c {
  flex-direction: column !important;
}
.fd-r {
  flex-direction: row !important;
}
.fd-cr {
  flex-direction: column-reverse !important;
}
.fd-rr {
  flex-direction: row-reverse !important;
}
