.sidebar-porvider {
  display: flex;
}

.sidebar {
  width: 18rem;
  height: 100svh;
  position: fixed;
  top: 5.5rem;
  left: 0;
  color: var(--c-primary);
  background-color: var(--bg-primary);
  box-shadow: 0px 8px 16px 0px #2c3e5055;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  text-decoration: none;
  color: inherit;
  padding: 0.25rem 1.5rem;
  transition: background-color 0.3s;
}

.sidebar-link:hover {
  color: var(--bg-primary);
  background-color: color-mix(in srgb, var(--c-primary) 50%, var(--bg-primary));
}
.sidebar-link.active {
  color: var(--c-primary);
  background-color: color-mix(in srgb, var(--c-primary) 25%, var(--bg-primary));
}
.sidebar-divider {
  color: color-mix(in srgb, var(--c-primary) 75%, transparent);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  cursor: default;
}
.sidebar-divider::before {
  content: "";
  flex: 0.2;
  border-top: 0.1rem solid color-mix(in srgb, var(--c-primary) 25%, transparent);
  margin-right: 1rem;
}
.sidebar-divider::after {
  content: "";
  flex: 1;
  border-top: 0.1rem solid color-mix(in srgb, var(--c-primary) 25%, transparent);
  margin-left: 1rem;
}

.content {
  min-height: 100svh;
  max-width: 1200px;
  margin: 0 20rem auto;
}
