.tooltip {
    position: relative;
    display: inline-block;
    margin-right: 2rem;
  }
  
  .tooltip-content {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    color: #000000;
    box-shadow: 2px 2px 10px 0.5px #4e4e4e;
    width: 10rem;
    padding: 0.8rem;
    top: 3.5rem;
    right: 0;
  }
  
  .tooltip-content > * {
    cursor: pointer;
    margin-block: 8px;
    width: 100%;
  }
  
  .tooltip-content::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    right: 12%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
  }
  
  .tooltip .active {
    display: flex;
  }